<svg width="13px" height="13px" viewBox="0 0 13 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch -->
    <title>Close</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="block/map" transform="translate(-787.000000, -269.000000)" fill="#ffffff">
            <g id="Group-2" transform="translate(562.000000, 257.000000)">
                <polygon id="Page-1" points="237.48 12.9329394 236.54706 12 231.24 17.3070604 225.932939 12 225 12.9329394 230.30706 18.2399998 225 23.5470601 225.932939 24.4799995 231.24 19.1729392 236.54706 24.4799995 237.48 23.5470601 232.172939 18.2399998"></polygon>
            </g>
        </g>
    </g>
</svg>
