<?xml version="1.0" encoding="UTF-8"?>
<svg width="63px" height="63px" viewBox="0 0 63 63" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 58 (84663) - https://sketch.com -->
    <title>ico-play</title>
    <desc>Created with Sketch.</desc>
    <g id="Desktop-Website" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="desktop-booth-1376-tab1" transform="translate(-657.000000, -2102.000000)" fill="#FFFFFF">
            <g id="Group-4" transform="translate(117.000000, 1813.000000)">
                <g id="Video" transform="translate(1.000000, 0.000000)">
                    <path d="M545.3242,351.494254 C541.832,351.490344 539.0039,348.662254 539,345.170054 L539,295.318054 C539,293.126654 540.1328,291.091454 541.9961,289.939154 C543.8594,288.790754 546.1875,288.689154 548.1445,289.669624 L598.0115,314.587624 C600.1482,315.661824 601.4959,317.853224 601.4959,320.243824 C601.4959,322.634424 600.1482,324.825824 598.0115,325.900024 L548.1445,350.818024 C547.27341,351.263334 546.3047,351.494254 545.3242,351.494254 L545.3242,351.494254 Z M545.3242,293.161954 C544.92186,293.166164 544.53123,293.279444 544.1875,293.482564 C543.54297,293.869284 543.1484,294.564564 543.1445,295.318464 L543.1445,345.170464 C543.1445,345.920464 543.53512,346.615764 544.1718,347.006364 C544.80852,347.400894 545.6015,347.436054 546.2695,347.100114 L596.1445,322.170114 C596.87497,321.806834 597.3359,321.060714 597.3359,320.244314 C597.3359,319.427914 596.87496,318.681814 596.1445,318.318514 L546.2925,293.388514 C545.99172,293.240074 545.65969,293.161954 545.32375,293.161954 L545.3242,293.161954 Z" id="ico-play"></path>
                </g>
            </g>
        </g>
    </g>
</svg>
