<section class="w-100 px-lg-3 pt-0 container">
  <div class="product-single__description rte">
    {{ product.description }}
  </div>
</section>

{% schema %}
  {
    "name": "Product Details",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}