<section class="container text-block pt-75 page-width">
  <div class="empty-page-content text-center">
    <h1>{{ 'general.404.title' | t }}</h1>
    <p>{{ 'general.404.subtext' | t }}</p>
    <p>
      <a href="{{ routes.root_url }}" class="btn btn-primary btn--has-icon-after">{{ 'general.404.link' | t }} <span class="icon arrow-right white"></span></a>
    </p>
  </div>
</section>
